{% extends "base.html" %}

{% block content %}

<div id="single-photo">
    <h2>{{ photo.title|default_if_none:"Untitled" }}</h2>

    <div id="image-box">
        <img src="{{ STATIC_URL }}{{ photo.big_thumb }}" />
    </div>

    <div id="caption">
        <p>{{ photo.caption }}</p>
    </div>

    <div id="meta">

        <p>
            <strong>Sets: </strong>
            {% for set in photo.sets.all %}
                <a href="{% url photoset set.id %}">{{ set }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>
            <strong>Tags: </strong>
            {% for tag in photo.tags.all %}
                <a href="{% url tag tag.id %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>
            <strong>People: </strong>
            {% for person in photo.people.all %}
                <a href="{% url person person.id %}">{{ person }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>
            <strong>Places: </strong>
            {% for place in photo.places.all %}
                <a href="{% url place place.id %}">{{ place }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

    </div>

</div>

{% endblock %}
