body {
    background: #ccc;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 40px;
    background: #333;
}

#header h2 {
    margin: 0 0 0 5px;
    padding: 6px 0 8px;
    color: #ececec;
    font-size: 24px;
}

#wrap {
    overflow: auto;
    padding: 0 10px;
}

#sidebar {
    width: 20%;
    float: left;
}

#sidebar li {
    list-style: none;
}

#bottom {
    margin-top: 50px;
}

#photos {
    width: 80%;
    float: right;
    overflow: auto;
}

.photo {
    width: 100px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.selected-photo {
    box-shadow: 0 0 5px #000;
}

#viewer {
    position: absolute;
    top: 10px;
    margin: 0 auto;
    width: 800px;
    z-index: 100;
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #000;
}

#new-album {
    position: absolute;
    top: 30px;
    width: 500px;
    z-index: 100;
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #000;
}

#new-album-name {
    padding: 5px;
    border: 1px solid #ccc;
}

#album-selection {
    position: absolute;
    top: 30px;
    width: 500px;
    z-index: 100;
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #000;
}

#album-selection ul {
    padding: 0;
    margin: 0 0 20px;
}

#album-selection li {
    list-style: none;
}

#grid {
    background: #fff;;
}

.album {
    margin-right: -1px;
    padding: 5px;
}

.album-active {
    background: #fff;
}

.album a {
    color: #333;
    text-decoration: none;
}
