body {
    background: #ececec;
    font-family: 'Helvetica';
}

#wrap {
    overflow: auto;
}

#sidebar {
    width: 10%;
    float: left;
}

#sidebar li {
    list-style: none;
}

#photos {
    width: 90%;
    float: right;
    overflow: auto;
}

.photo {
    width: 100px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.selected-photo {
    box-shadow: 0 0 5px #000;
}

#viewer {
    position: absolute;
    top: 10px;
    margin: 0 auto;
    width: 800px;
    z-index: 100;
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #000;
}

#new-album {
    position: absolute;
    top: 30px;
    width: 500px;
    z-index: 100;
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #000;
}

#new-album-name {
    padding: 5px;
    border: 1px solid #ccc;
}

#album-selection {
    position: absolute;
    top: 30px;
    width: 500px;
    z-index: 100;
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #000;
}

#album-selection ul {
    padding: 0;
    margin: 0;
}

#album-selection li {
    list-style: none;
}
